<div>
  <mat-form-field appearance="fill" class="m-2" style="width: 30rem;" *ngIf="booleanViewAll">
    <mat-label>search blogs</mat-label>
    <input matInput>
  </mat-form-field>
  <button mat-raised-button class="m-2" (click)="viewAll()" *ngIf="!booleanViewAll" c="">View All Blogs</button>
  <button mat-raised-button class="m-2" (click)="viewMyBlogs()" *ngIf="!booleanViewMine">View My Blogs</button>
  <button mat-raised-button class="m-2" (click)="createBlogs()" *ngIf="!booleanCreateBlogs">Create Blogs</button>
</div>

<div *ngIf="!booleanViewAll && !booleanCreateBlogs ">
  <div>
    <mat-card class="m-2">
      <mat-card-header *ngIf="current_Account.blogEntities.length === 0">
        <h2>You do not have any blogs. Create it first!</h2>
      </mat-card-header>
    </mat-card>
  </div>
  <div *ngIf="current_Account.blogEntities.length != 0 && !booleanEdit && !booleanView2">
    <div *ngFor="let element of my_Blogs; let i = index">
      <mat-card class="m-2">
        <mat-card-header>
          <div>
            <h2>Title: {{element.title}}</h2>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div>
            <h2>{{element.body}}</h2>
          </div>
          <div>
            <h4 class="m-1">Owner: {{element.owner_Email}}</h4>
            <div class="d-flex">
              <h5 class="m-1">Create Date: {{element.create_Date}}</h5>
              <h5 class="m-1">Update Date: {{element.update_Date}}</h5>
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer class="d-flex justify-content-end">
          <mat-card-content>
            <button mat-raised-button class="m-2" color="primary" (click)="onEdit(i)">Edit</button>
            <button mat-raised-button class="m-2" (click)="onViewComments(i)">Comment</button>
            <button mat-raised-button color="warn" class="m-2" (click)="onDelete(i)">Delete</button>
          </mat-card-content>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  <div *ngIf="booleanEdit && !booleanCreateBlogs && !booleanViewAll && !booleanView2">
    <mat-card class="m-2">
      <mat-card-header>
        <div>
          <div>
            <h2>Title: </h2>
          </div>
          <mat-form-field>
            <input matInput [(ngModel)]="editTitle" name="title">
          </mat-form-field>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div>
          <div>
            <h2>Body: </h2>
          </div>
          <mat-form-field>
            <textarea matInput [(ngModel)]="editBody" name="body"></textarea>
          </mat-form-field>
        </div>
        <div>
          <h4 class="m-1">Owner: {{blog.owner_Id}}</h4>
          <div class="d-flex">
            <h5 class="m-1">Create Date: {{blog.create_Date}}</h5>
            <h5 class="m-1">Update Date: {{blog.update_Date}}</h5>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer class="d-flex justify-content-end">
        <mat-card-content>
          <button mat-raised-button class="m-2" color="primary" (click)="saveEditBlog()">Save</button>
          <button mat-raised-button class="m-2" color="warn" (click)="onCancelEdit()">Cancel</button>
        </mat-card-content>
      </mat-card-footer>
    </mat-card>
  </div>

  <div *ngIf="booleanView2 && !booleanEdit && !booleanCreateBlogs && !booleanViewAll">

    <mat-card class="m-2">
      <mat-card-header>
        <div>
          <div>
            <h2>Title: {{blog.title}}</h2>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div>
          <div>
            <h2>{{blog.body}}</h2>
          </div>
        </div>
        <div>
          <h4 class="m-1">Owner: {{blog.owner_Email}}</h4>
          <div class="d-flex">
            <h5 class="m-1">Create Date: {{blog.create_Date}}</h5>
            <h5 class="m-1">Update Date: {{blog.update_Date}}</h5>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer >
        <mat-card-content>

            <mat-form-field >
              <input matInput [(ngModel)]="comment" name="comment">
            </mat-form-field>

          <button mat-raised-button class="m-2" color="primary" (click)="onAddComment()">Comment</button>
          <button mat-raised-button class="m-2" color="warn" (click)="onCancel2()">Cancel</button>
        </mat-card-content>
      </mat-card-footer>
      <mat-card-footer>

        <div *ngFor="let element of blog.commentsLists; let i = index">
          <mat-card class="m-3">
            <div class="d-flex justify-content-between">
              <div>
                <h4 class="m-2">{{element.sender_Name}}</h4>
                <h4 class="m-2">{{element.comment}}</h4>
              </div>
              <div>
                <button mat-raised-button color="warn" class="m-4" (click)="onDeleteComment(i)" *ngIf="element.sender === current_Account.id">Delete</button>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-card-footer>
    </mat-card>

  </div>

</div>

<div *ngIf="booleanCreateBlogs">
  <mat-card class="m-2">
    <h4 class="m-2">Title</h4>
    <mat-form-field class="m-2">
      <input matInput placeholder="title" name="title" [(ngModel)]="title">
    </mat-form-field >
    <h4 class="m-2">Body</h4>
    <mat-form-field class="m-2">
      <textarea matInput placeholder="body" name="body" [(ngModel)]="body"></textarea>
    </mat-form-field>
    <div class="m-2">
      <button mat-raised-button class="m-2" color="primary" (click)="onCreate()">Create</button>
      <button mat-raised-button color="warn" class="m-2" (click)="onCancel()">Cancel</button>
    </div>

  </mat-card>
</div>

<div *ngIf="booleanViewAll">
  <div *ngFor="let element of allBlogs; let i = index" class="flex-wrap m-2">
    <mat-card class="m-2">
      <mat-card-header>
        <div>
          <h2>Title: {{element.title}}</h2>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div>
          <h5>{{element.body}}</h5>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div>
          <h4 class="m-1">Owner: {{element.owner_Email}}</h4>
          <div class="d-flex">
            <h5 class="m-1">Create Date: {{element.create_Date}}</h5>
            <h5 class="m-1">Update Date: {{element.update_Date}}</h5>
          </div>
          <div *ngIf="booleanCommentsView">
            <h2 class="m-2">Comments</h2>
            <div *ngFor="let test of element.commentsLists">
              <mat-card class="m-2">
                <h5 class="m-2">{{test.sender}}</h5>
                <h5 class="m-2">{{test.comment}}</h5>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer class="m-2 d-flex justify-content-end">

        <mat-card-content>
          <button mat-raised-button class="m-2" (click)="viewAllComments()">Comments</button>
        </mat-card-content>
      </mat-card-footer>
    </mat-card>
  </div>
</div>



