<div>
  <mat-toolbar color="primary" class="d-flex justify-content-between">
    <div>
      <h1 class="m-2">Welcome {{current_Account.name}}</h1>
    </div>
    <div>
      <button mat-raised-button class="m-2" (click)="onLogOut()">Log Out</button>
    </div>
  </mat-toolbar>
</div>



<div class="d-flex justify-content-between flex-wrap">

  <mat-card class="m-2" style="width: 39rem">
    <mat-card-header>
      <h1 *ngIf="!viewAllBlogs && !createBlogs" class="m-2">Your Blogs</h1>
      <h1 *ngIf="!viewAllBlogs && createBlogs" class="m-2">Create Blogs</h1>
      <h1 *ngIf="viewAllBlogs && !createBlogs" class="m-2">View All Blogs</h1>
    </mat-card-header>
    <mat-card-content>
      <app-blogs></app-blogs>
    </mat-card-content>
  </mat-card>


  <mat-card class="m-2" style="width: 39rem">
    <mat-card-header>
      <h1>Message</h1>
      <mat-icon> message</mat-icon>
    </mat-card-header>
    <mat-card-content class="mt-2">
      <app-message></app-message>
    </mat-card-content>
  </mat-card>





  <mat-card class="m-2" style="width: 39rem">
    <mat-card-header *ngIf="!viewFullBlogs">
      <h1>Users</h1>
      <mat-icon class="m-1">supervised_user_circle</mat-icon>
    </mat-card-header>
    <mat-card-header *ngIf="viewFullBlogs">
      <h1>Viewing Other Blogs</h1>
      <mat-icon class="m-1">subject</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <app-allusers></app-allusers>
    </mat-card-content>
  </mat-card>
</div>
