<div class="m-2">
  <mat-card>
    <div>
      <button mat-raised-button color="primary" class="m-2" (click)="onFindUsers()">Find Users</button>
      <button mat-raised-button color="primary" class="m-2" (click)="onInbox()">View Inbox</button>
    </div>
  </mat-card>
</div>

<div class="m-2" *ngIf="!boolean_FindUsers">
  <mat-card>
    <mat-card-header>
      <h1>Inbox</h1>
      <mat-icon class="m-1"> textsms</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="messages.length === 0">
        <mat-card >
          <h4 class="m-2">Inbox is empty.</h4>
        </mat-card>
      </div>
      <div *ngIf="messages.length!=0">

        <div *ngIf="!booleanHistory && !booleanReply">
          <div *ngFor="let element of messages; let i  = index">
            <mat-card class="m-2">
              <mat-card-header>
                <mat-icon class="m-2">alternate_email</mat-icon>
                <h1 class="m-1">{{element.owner}}</h1>
              </mat-card-header>
              <mat-card-content>
                <mat-card>
                  <mat-card-header>
                    <div>
                      <h4>From: {{element.email_From}}</h4>
                      <h4>To: {{element.email_To}}</h4>
                    </div>
                  </mat-card-header>
                  <mat-card-content>
                    <h4>Message: {{element.current_Message}}</h4>
                    <button mat-raised-button color="primary" class="m-2" (click)="onHistory(i)">History</button>
                    <button mat-raised-button color="accent" class="m-2" (click)="onReply(i)">Reply</button>
                  </mat-card-content>
                </mat-card>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div *ngIf="booleanHistory">
          <mat-card class="m-2">
            <mat-card-header>
              <mat-icon class="m-2">alternate_email</mat-icon>
              <h1 class="m-1">{{current_Message.owner}}</h1>
            </mat-card-header>
            <mat-card-content>
              <mat-card>
                <mat-card-header>
                  <div>
                    <h4>From: {{current_Message.email_From}}</h4>
                    <h4>To: {{current_Message.email_To}}</h4>
                  </div>
                </mat-card-header>
              <mat-card-content>
                <h4>Message: {{current_Message.current_Message}}</h4>
                <button mat-raised-button color="warn" class="m-2" (click)="onReturn()">Return</button>
                <div *ngFor="let data of current_Message.historyEntities">
                  <mat-card class="m-2">
                    <h4 class="m-2">Who sent: {{data.sender}}</h4>
                    <h4 class="m-2">Message: {{data.message}}</h4>
                  </mat-card>
                </div>
              </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </div>

        <div *ngIf="booleanReply">
          <mat-card class="m-2">
            <mat-card-header>
              <mat-icon class="m-2">alternate_email</mat-icon>
              <h1 class="m-1">{{current_Message.owner}}</h1>
            </mat-card-header>
            <mat-card-content>
              <mat-card>
                <mat-card-header>
                  <div>
                    <h4>From: {{current_Message.email_From}}</h4>
                    <h4>To: {{current_Message.email_To}}</h4>
                    <h4>Current Message: {{current_Message.current_Message}}</h4>
                    <h4>{{error}}</h4>
                    <mat-form-field style="width: 28rem">
                      <input matInput [(ngModel)]="message" name="message" placeholder="message">
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="m-2" (click)="replySaved()">Send</button>
                    <button mat-raised-button color="warn" class="m-2" (click)="onReturn()">Cancel</button>
                  </div>
                </mat-card-header>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="m-2" *ngIf="boolean_FindUsers">
  <mat-card>
    <mat-card-header>
      <h1>Find Users</h1>
      <mat-icon class="m-1">people</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!onMessageBoolean">
        <div *ngFor="let element of accounts; let i = index" >
          <mat-card class="m-4">
            <mat-card-header>
              <div class="d-flex justify-content-between">
                <div>
                  <h2>{{element.name}}</h2>
                </div>
              </div>
            </mat-card-header>
            <mat-card-content>
              <div>
                <h2>{{element.email}}</h2>
              </div>
              <button mat-raised-button color="primary" (click)="onMessage(i)">Message</button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div *ngIf="onMessageBoolean">
        <mat-card class="m-4">
          <mat-card-header>
            <div class="d-flex justify-content-between">
              <div>
                <h2>{{otherUser.name}}</h2>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div>
              <h2>{{otherUser.email}}</h2>
            </div>
              <mat-form-field style="width: 28rem">
                <input matInput [(ngModel)]="message" name="message" placeholder="message">
              </mat-form-field>
            <button mat-raised-button color="primary" class="m-2" (click)="onSend()">Send</button>
            <button mat-raised-button color="accent" class="m-2" (click)="onCancelSend()">Cancel</button>
          </mat-card-content>
        </mat-card>


      </div>

    </mat-card-content>
  </mat-card>
</div>
